<div ng-controller="adminController">
<div id='body_admin'>

 <div class='container container-table' id='bootsta'>
  <div class="row vertical-center-row">
       <div id='Facturas' class='divs col-xs-4 col-md-2'>
           <button id='user_bt' type="button" class="btn btn-default" aria-label="Left Align" ng-click="gofacturacion()">Facturas</button>
       </div>
       <div id='Devoluciones' class='divs col-xs-4 col-md-2'>
           <button id='user_bt' type="button" class="btn btn-success" aria-label="Left Align" ng-click = "gotodevo()">Devolucion</button>
       </div>
       <div id='Usuarios'class='divs col-xs-4 col-md-2'>
           <button id='user_bt' type="button" class="btn btn-primary" aria-label="Left Align" ng-click="gousuario()" >Usuarios</button>
       </div>
       <div id='Abonos' class='divs col-xs-4 col-md-2'>
           <button id='user_bt' type="button" class="btn btn-info" aria-label="Left Align" ng-click="goabono()" >Abonos</button>
       </div>
       <div id='Compras' class='divs col-xs-4 col-md-2'>
           <button id='user_bt' type="button" class="btn btn-warming" aria-label="Left Align" ng-click="">Compras</button>
       </div>
       <div id='Dei' class='divs col-xs-4 col-md-2'>
           <button id='user_bt' type="button" class="btn btn-danger" aria-label="Left Align" ng-click = "gotocharts()">DEI</button>
       </div>
  </div>
 </div>
</div>
</div>
