<div ng-controller = "devoController">
  <div id = "devomaindiv">
      <div class = "container" >
        <div class = "row">
          <div class = "col-xs-10" id = "devocontainer">
            <form>
              <h1><span class = "white">Devoluciones</span></h1><br> <br>
              <span class = "white">Nombre del Cliente:</span><select>
                <option id = 'clientlist' value= "Clients" >Clientes</option>
              </select><br> <br>
              <span class = "white">No. Factura:</span><input id = 'text_bar_fac' type = "text" name = "num_fac"><br> <br>
              <span class = "white">ID del Producto:</span><input id='text_bar_prod' type="text" name="id_prod" value="" /><br> <br>
              <span class = "white">Cantidad:</span><input id='text_bar_cant' type="text" name="cant" value="" /><br> <br>
              <br><br><button id = "devobutt" type="button" class="btn btn-success" aria-label="Left Align" >Aceptar</button> <br><br>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
